
//
// Version resourse template
//

#include "WinVer.h"
#include "SlmVer.h"   // include slm-defined "sadmin release" macros

#if (minor < 10)  // pad minor build # with an extra 0
#define SZMINORPAD "0"
#else
#define SZMINORPAD
#endif

#ifdef VER
#define buildnum VER
#else
#define buildnum rup
#endif

#if (buildnum < 1000)
#define SZRUP1000PAD "0"
#else
#define SZRUP1000PAD
#endif

#if (buildnum < 100)
#define SZRUP100PAD "0"
#else
#define SZRUP100PAD
#endif

#if (buildnum < 10)
#define SZRUP10PAD "0"
#else
#define SZRUP10PAD
#endif

#define SZRUPPAD SZRUP1000PAD SZRUP100PAD SZRUP10PAD


#define SZVERSTR0(major,minor,other,build) \
          #major "." SZMINORPAD #minor "." #other "." SZRUPPAD #build

#define SZVERSTR(a,b,c,d) SZVERSTR0(a,b,c,d)

#ifdef _USRDLL
  #define MYFILETYPE VFT_DLL
#else
  #define MYFILETYPE VFT_APP
#endif

#ifndef SZFILEDESCRIPTION
!error Must define SZFILEDESCRIPTION (generally done in <target>\<target>.rc2 file)
#endif
#ifndef SZORIGFILENAME
!error Must define SZORIGFILENAME (generally done in <target>\<target>.rc2 file)
#endif
#ifndef SZINTERNALNAME
!error Must define SZINTERNALNAME (generally done in <target>\<target>.rc2 file)
#endif

#ifdef DEBUG

#define FILEFLAGSFLAVOR VS_FF_DEBUG | VS_FF_PRIVATEBUILD

#else

#define FILEFLAGSFLAVOR 0L

#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    rmj,rmm,rel,buildnum  // rel added by mmf defined in SlmVer.h
 PRODUCTVERSION rmj,rmm,rel,buildnum  // rel added by mmf
 FILEFLAGSMASK  FILEFLAGSFLAVOR
 FILEFLAGS      FILEFLAGSFLAVOR
 FILEOS         VOS__WINDOWS32
 FILETYPE       MYFILETYPE
 FILESUBTYPE    0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",     "Microsoft® Corporation"
            VALUE "FileDescription",  SZFILEDESCRIPTION
            VALUE "FileVersion",      SZVERSTR(rmj,rmm,rel,buildnum) // rel added by mmf
            VALUE "InternalName",     SZINTERNALNAME
            VALUE "LegalCopyright",  "Copyright © 1995-2000. All rights reserved."
            VALUE "OriginalFilename", SZORIGFILENAME
            VALUE "ProductName",      SZFILEDESCRIPTION
            VALUE "ProductVersion",   SZVERSTR(rmj,rmm,rel,buildnum) // rel added by mmf
            VALUE "BuildFlavor",      FLAVOR
#ifdef DEBUG
            VALUE "PrivateBuild", szVerUser
#endif
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

