<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
      <supportedRuntime version="v2.0.50727"/>
    </startup>

  <appSettings>
    <add key="LobbyAddress" value="52.176.109.28" />
    <add key="ServerName" value="AEast2" />
    <add key="ArtPath" value="C:\Source\git\Artwork" />
  </appSettings>
  
</configuration>