<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
      <supportedRuntime version="v2.0.50727"/>
    </startup>

  <appSettings>
    <add key="LobbyAddress" value="lobby.zaphop.com" />
    <add key="ServerName" value="AEast3" /> 
    
    <!--<add key="LobbyAddress" value="52.176.109.28" />
    <add key="ServerName" value="AEast2" />-->

    <!--<add key="LobbyAddress" value="127.0.0.1" />
    <add key="ServerName" value="LocalTest" />-->
    
    <add key="ArtPath" value="C:\Source\git\Artwork" />
    <add key="Core" value="ac_14" />
  </appSettings>
  
</configuration>