<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="settings" type="PigJSDocGenerator.Configuration,PigJSDocGenerator"/>
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <settings outputTypescriptDefinitionFile="..\..\..\Piglets\include\IDL.d.ts" outputJavascriptFile="..\..\..\Piglets\include\IDL.js">
    <idlFiles>
      <idlFile filename="..\..\..\..\Inc\AGCIDL.idl" />
      <idlFile filename="..\..\..\..\Inc\PigsIDL.idl" />
    </idlFiles>
  </settings>
</configuration>